<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ca57ee248a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/bootstrap-grid.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="../icons8-internet-48.png">


    <title>Anynote</title>
  </head>
  <body style="background-color: #ebe0d9">
    <nav class="navbar navbar-expand-lg navbar-light bg-danger bg-gradient">
      <div class="container-fluid">
        <!-- changed -->
        <a class="navbar-brand" href="/" style="color: floralwhite"
          >Anynote📝</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a href="/create">
              <button
                type="button"
                class="btn btn-outline-dark rounded-circle ml-5"
                style="background-color: rgb(255, 255, 255); border: 2px"
              >
                ✏️
              </button>
            </a>
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a href="/create" style="text-decoration: none;">                
                    
                </a> 
    

             <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="#" id="dark">🌙</a>
            </li> -->
            <!-- <li class="nav-item">-->
 
        </div>
      </div>
    </nav>
  </body>
</html>
