<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia pariatur
      nam sunt ab esse dolorem, voluptas repellendus impedit officiis totam?
      Amet commodi at earum nulla adipisci assumenda vitae quibusdam eos.
    </div>
    <div class="col-sm-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia pariatur
      nam sunt ab esse dolorem, voluptas repellendus impedit officiis totam?
      Amet commodi at earum nulla adipisci assumenda vitae quibusdam eos.
    </div>
    <div class="col-sm-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia pariatur
      nam sunt ab esse dolorem, voluptas repellendus impedit officiis totam?
      Amet commodi at earum nulla adipisci assumenda vitae quibusdam eos.
    </div>
  </div>
</div>

<%- include('footer') %>
